body {
  background-color: greenyellow;
  margin: 0;
  padding: 0;
}


#codeclublearn {
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#scratch2 {
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#python2 {
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#web2 {
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


#introduction_webdev {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

#scratch {
    border: 1px solid black;
    background-color:orange;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#python {
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#web {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(9, 150, 9);
    border-radius: 15px;
}

#introduction_scratch {
    border: 1px solid black;
    background-color: orange;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#more_scratch {
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#further_scratch {
    border: 1px solid black;
    background-color: rgb(9, 150, 9);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


#introduction_python {
    border: 1px solid black;
    background-color: orange;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


#more_python {
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


#introduction_webdev {
    border: 1px solid black;
    background-color: orange;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

#more_web {
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


section {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

img {
  max-width: 100%;
}

.button {
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
